/* BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: #0a0f1c;
    color: white;
}

/* NAVBAR */
.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 18px 50px;
    background: rgba(10,15,28,0.8);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.logo {
    font-weight: 700;
    color: #38bdf8;
}

nav a {
    margin-left: 18px;
    color: #94a3b8;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover,
nav a.active {
    color: #38bdf8;
}

.menu {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* HERO */
.hero {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-box h1 {
    font-size: 50px;
}

.hero-box span {
    color: #38bdf8;
}

.hero-box p {
    color: #94a3b8;
    margin-top: 10px;
}

/* BUTTONS */
.btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 18px;
    border-radius: 8px;
    border: 1px solid #334155;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.05);
}

.btn.primary {
    background: #38bdf8;
    color: black;
    border: none;
}

/* SECTIONS */
.section {
    padding: 90px 20px;
    text-align: center;
}

.dark {
    background: #0f172a;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    max-width: 900px;
    margin: auto;
    margin-top: 30px;
}

/* CARDS */
.card {
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(255,255,255,0.1);
    padding: 20px;
    border-radius: 12px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
    border-color: #38bdf8;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background: #020617;
    color: #64748b;
}

/* ANIMATION */
.reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: 0.8s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

/* RESPONSIVE */
@media(max-width:768px){
    nav {
        display: none;
    }

    .menu {
        display: block;
        color: white;
    }
}